
  


    <div class="article-list">
      <div class="container">
          <div class="intro">
              <h1 class="text-center" style="color:#56c6c6;font-family:Montserrat, sans-serif;">Maja.com</h1>
              <p class="text-center">Here you find what you are looking for</p>
          </div>
          <div class="row articles">
              <div class="col-sm-6 col-md-4 item"><a routerLink="/education"><img class="img-fluid" src="assets/img/desk.jpg"></a>
                  <h3 class="name" style="font-family:Montserrat, sans-serif;">Education</h3>
                  <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a routerLink="/education" class="action"><i class="fa fa-arrow-circle-right"></i></a></div>
              <div
                  class="col-sm-6 col-md-4 item"><a routerLink="/sport"><img class="img-fluid" src="assets/img/building.jpg"></a>
                  <h3 class="name" style="font-family:Montserrat, sans-serif;">Sport</h3>
                  <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a routerLink="/sport" class="action"><i class="fa fa-arrow-circle-right" style="color:#4f86c3;"></i></a></div>
          <div
              class="col-sm-6 col-md-4 item"><a routerLink="/tutorial"><img class="img-fluid" src="assets/img/loft.jpg"></a>
              <h3 class="name" style="font-family:Montserrat, sans-serif;">Life Hacks</h3>
              <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a routerLink="/tutorials" class="action"><i class="fa fa-arrow-circle-right"></i></a></div>
  </div>
  </div>
</div>


