



<h2 class="text-center text-info" style="color:#17a2b8;margin:20px;padding:20px;font-family:Montserrat, sans-serif;">Browse Courses</h2>
    
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <section id="vertical-menu">
                        <div class="list-group"><a href="#" class="list-group-item active"> <i class="fa fa-star-o fa-fw"></i>Programming</a><a href="#" class="list-group-item"> <i class="fa fa-star-o fa-fw"></i> Databases</a><a href="#" class="list-group-item"> <i class="fa fa-star-o fa-fw"></i> Web Development</a>
                            <a
                                href="#" class="list-group-item"> <i class="fa fa-star-o fa-fw"></i> Design</a>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 col-lg-9">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="mb-0"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x text-muted"></i><i class="fa fa-heart fa-stack-1x fa-inverse"></i></span>Courses</h6>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-5">
                                    <h4>Name </h4>
                                </div>
                                <div class="col-md-7">
                                    <h4>Amount </h4>
                                </div>
                            </div>
                            <div class="row" *ngFor="let education of educations">
                                <div class="col-md-5">
                                    <div class="media">
                                        <div><img class="rounded-circle mr-3" src="assets/img/user-photo4.jpg" width="50" height="50"></div>
                                        <div class="media-body">
                                            <h4><a [routerLink]="['show', education.id]">{{education.name}}&nbsp;</a><span class="badge badge-success">Active Course</span></h4>
                                            <p class="text-muted">Added on {{education.date}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <p><span class="h3" style="font-family:Roboto, sans-serif;font-size:23px;">{{education.category}}</span><br>
<strong> </strong><a href="#">View Details</a></p>
                                    <p></p>
                                </div>
                                <div class="col-md-3 text-right">
                                    <div class="btn-group" role="group"><button class="btn btn-primary" type="button"><i class="fa fa-play"></i>Discover</button></div>
                                    <p><small class="text-muted"> <i class="fa fa-cloud"></i>&nbsp;Complet</small> </p>
                                </div>
                            
                      
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <nav>
                                        <ul class="pagination">
                                            <li class="page-item"><a class="page-link" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                            <li class="page-item active"><a class="page-link">1</a></li>
                                            <li class="page-item"><a class="page-link">2</a></li>
                                            <li class="page-item"><a class="page-link">3</a></li>
                                            <li class="page-item"><a class="page-link">4</a></li>
                                            <li class="page-item"><a class="page-link">5</a></li>
                                            <li class="page-item"><a class="page-link" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>